body {
    background:  url("night.svg");
    font-family: sans-serif, Arial, Verdana;
}

#header {
    color: white;
}

#controls input {
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body {
    display: flex;
    flex-direction: row;
}

#footer {
    position: fixed;
    bottom: 5px;
    color: #c5c5c5;
}

#telegram {
    width: 16px;
}

#am {
    padding-right: 20px;
}

#left {
    width: 300px;
}

#center {
    width: calc(5 * 75px + 1px);
}

#right {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 0;
}

#name {
    width: 200px;
    height: 40px;
    font-size: 20px;
    padding: 7px 10px;
    box-sizing: border-box;
    border: 1px solid #c5c5c5;
    background: transparent;
    outline: none;
}

::placeholder {
    color: #bebebe;
    opacity: 1;
}

#timer {
    font-size: 25px;
    color: white;
}

#startStopBtn {
    width: 40px;
}

#presentation {
    margin-left: 200px;
    color: #c5c5c5;
}

.cheats {
    font-size: 15px;
    margin-bottom: 5px;
    color: #ffffff;
}

.cheats b {
    color: red;
}

#offOnVolumeBtn{
    width: 20px;
    height: 20px;
}

::placeholder {
    color: white;
}

#changeBlockCount {
    margin-top: 10px;
    padding: 7px 10px;
    border: 1px solid white;
    background: transparent;
    outline: none;
}

#changeThemeBtn {
    height: 21px;
}
#displayHints {
    color: white;
    padding: 7px 10px;
    border: 1px solid white;
    background: transparent;
    outline: none;
}
