body {
    font-family: sans-serif, Arial, Verdana;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body {
    display: flex;
    flex-direction: row;
}

#footer {

}

#left {
    width: 400px;
}

#center {
    width: calc(5 * 100px + 1px);
}

#right {
    width: 400px;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#name {
    width: 200px;
    font-size: 20px;
    padding: 7px 10px;
    border: 1px solid #c5c5c5;
    background: transparent;
    outline: none;
    box-sizing: border-box;
}

::placeholder {
    color: #bebebe;
    opacity: 1;
}

#timer {
    font-size: 25px;
    color: #808080;
}

#startStopBtn {
    width: 40px;
}


