#progressLine {
    visibility: hidden;
    height: 10px;
    width: calc(5 * 80px);
    margin: 20px 0;
    border: 1px solid #efefef;
}

#progressBar {
    height: 10px;
    width: 0;
    background-color: #a9ffa9;
}
