#shult table td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    cursor: default;
}

#shult table {
    border-collapse: collapse;
    cursor: default;
}

#shult {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
